@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap');

body.styled {
    margin: 0px;
    background: #383a3d;
}

.header {
    background: black;
    min-width: 100vw;
    height: 5vh;
    text-align: center;
}

.wrapper {
    display: flex;
}

div.left {
    display: inline-block;
    width: 50vw;
}

div.right {
    display: inline-block;
    width: 50vw;
}

.text {
    color: aliceblue;
    font-family: 'Roboto Mono', monospace;
}

.separator {
    height: 5vh;
}

.smallseparator {
    height: 2vh;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}

.title {
    color: black;
    margin-left: 0.5vw;
    font-family: 'Roboto Mono', monospace;

}

.normalText{
    color: black;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    font-family: 'Roboto Mono', monospace;
}

.item {
    width: 15vw;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    background: white;


}

.question {
    width: 50vw;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    background: white;
    margin-bottom: 2vh;

}

.button {

    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

.button:disabled {
    cursor: default;
}

.button:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: darkslateblue;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.chart {
    width: 52.5vw;
    height: 35vh;
}
.squidimg{
    width: 40vw;
    height: 30vh;
}
