section.header{
    background-color: dimgray;
    display:


}

div.wrapper{

}

div.left {
    display: inline-block;
    width: 50%;
}

div.right {
    display: inline-block;
    width: 50%;
}
.center{
    margin: auto;
    width: 50%;
}