<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel=”stylesheet”
          href=”https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css”rel=”nofollow”
          integrity=”sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I” crossorigin=”anonymous”>
    <link rel="stylesheet" href="resources/css/stylesheet.css">
</head>
<body class="styled">
    <section class="header">
        <div class="container">
            <div>
                <p class="text">Intelligence Test</p>
            </div>
        </div>
    </section>
    <section>
        <div class = "separator">

        </div>
        <div class="container">
            <div>
                <button class="button" role="button" onclick="window.location.href='test'">Take the test</button>
            </div>
            <div>
                <button class="button" role="button" onclick="window.location.href='types'">Intelligence types</button>
            </div>

        </div>
    </section>
    <section>
        <div class="container">
            <div>
                <img class = "squidimg" src = "../resources/css/squid_logo.png">
            </div>
        </div>
    </section>
</body>
</html>