<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel=”stylesheet”
          href=”https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css”rel=”nofollow”
          integrity=”sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I” crossorigin=”anonymous”>
    <link rel="stylesheet" href="resources/css/stylesheet.css">
</head>
<body class="styled">
<section class="header">
    <div class="container">
        <div>
            <p class="text">
                Intelligence Test
            </p>
        </div>
    </div>
</section>

<div class="separator"></div>

<div class="container"
     th:each="question : ${questions}">

    <div class="question" th:id="${question.ordinal()}">
        <h2 th:text="${question.getQuestion}" class="title"></h2>
        <div class="container">
            <div>
                <input th:name="${question.ordinal()}" type="radio" class="normalText" id="-2">Passt gar nicht</input>
            </div>
            <div>
                <input th:name="${question.ordinal()}" type="radio" class="normalText" id="-1">Passt eher nicht</input>
            </div>
            <div>
                <input th:name="${question.ordinal()}" type="radio" class="normalText" id="+0">keine Meinung</input>
            </div>
            <div>
                <input th:name="${question.ordinal()}" type="radio" class="normalText" id="+1">Passt eher schon</input>
            </div>
            <div>
                <input th:name="${question.ordinal()}" type="radio" class="normalText" id="+2">Passt sehr</input>
            </div>
        </div>
        <div class="smallseparator"></div>
    </div>
</div>

<div class="smallseparator"></div>

<div class="container">
    <div>
        <button class="button" role="button" onclick="functions()" id="resultButton">Get your result</button>
        <canvas id="myChart" class="chart"></canvas>
        <script>
            var interpersonal = 0;
            var logical = 0;
            var linguistic = 0;
            var musical = 0;
            var intrapersonal = 0;
            var visual = 0;
            var naturalistic = 0;
            var kinaesthetic = 0;


            function functions() {
                calculate();
                validateVariables();
                for (let index = 0; index < 40; index++) {
                    let doc = document.getElementById(index.toString())
                    doc.hidden = true;
                }
                let button = document.getElementById("resultButton");
                button.hidden = true;
                initchart();
            }

            function validateVariables() {
                if (kinaesthetic < 0) {
                    kinaesthetic = 0;
                }
                if (logical < 0) {
                    logical = 0;
                }
                if (linguistic < 0) {
                    linguistic = 0;
                }
                if (musical < 0) {
                    musical = 0;
                }
                if (intrapersonal < 0) {
                    intrapersonal = 0;
                }
                if (interpersonal < 0) {
                    interpersonal = 0;
                }
                if (visual < 0) {
                    visual = 0;
                }
                if (naturalistic < 0) {
                    naturalistic = 0;
                }
            }

            function calculate() {
                for (let index = 0; index < 40; index++) {
                    let values = document.getElementsByName(index.toString())
                    if (index < 5) {
                        for (let i = 0; i < values.length; i++) {
                            if (values[i].checked) {
                                kinaesthetic += parseInt(values[i].id)
                            }
                        }
                    } else if (index > 4 && index < 10) {
                        for (let i = 0; i < values.length; i++) {
                            if (values[i].checked) {
                                linguistic += parseInt(values[i].id)
                            }
                        }
                    } else if (index > 9 && index < 15) {
                        for (let i = 0; i < values.length; i++) {
                            if (values[i].checked) {
                                naturalistic += parseInt(values[i].id)
                            }
                        }
                    } else if (index > 14 && index < 20) {
                        for (let i = 0; i < values.length; i++) {
                            if (values[i].checked) {
                                musical += parseInt(values[i].id)
                            }
                        }
                    } else if (index > 19 && index < 25) {
                        for (let i = 0; i < values.length; i++) {
                            if (values[i].checked) {
                                visual += parseInt(values[i].id)
                            }
                        }
                    } else if (index > 24 && index < 30) {
                        for (let i = 0; i < values.length; i++) {
                            if (values[i].checked) {
                                intrapersonal += parseInt(values[i].id)
                            }
                        }
                    } else if (index > 29 && index < 35) {
                        for (let i = 0; i < values.length; i++) {
                            if (values[i].checked) {
                                interpersonal += parseInt(values[i].id)
                            }
                        }
                    } else if (index > 34 && index < 40) {
                        for (let i = 0; i < values.length; i++) {
                            if (values[i].checked) {
                                logical += parseInt(values[i].id)
                            }
                        }
                    }
                }
            }

            function initchart() {
                const labels = [
                    'kinaesthetic',
                    'linguistic',
                    'naturalistic',
                    'visual',
                    'musical',
                    'intrapersonal',
                    'interpersonal',
                    'logical',
                ];

                const data = {
                    labels: labels,
                    datasets: [{
                        data: [kinaesthetic, linguistic, naturalistic, visual, musical, intrapersonal, interpersonal, logical],
                        fill: true,
                        borderWidth: 1,
                        backgroundColor: [
                            'rgb(77,0,121)',
                            'rgb(115,7,178)',
                            'rgb(145,74,199)',
                            'rgb(12,47,117)',
                            'rgb(32,87,194)',
                            'rgb(66,107,189)',
                            'rgb(8,108,115)',
                            'rgb(33,179,190)',
                        ],
                        borderColor: 'rgb(0, 0, 0)',
                        pointBackgroundColor: 'rgb(0, 0, 0)',
                        pointBorderColor: '#fff',
                        pointHoverBackgroundColor: '#fff',
                        pointHoverBorderColor: 'rgb(0, 0, 0)'
                    }]
                };

                var chartOptions = {
                    scales: {
                        r: {
                            min: 0,
                            max: 10,
                            beginAtZero: true,
                            stepSize: 1,
                            pointLabels: {
                                font: {
                                    size: 15
                                }
                            }
                        }
                    }
                };

                const config = {
                    type: 'polarArea',
                    data: data,
                    options: chartOptions
                };

                const myChart = new Chart(
                    document.getElementById('myChart'),
                    config
                );
            }
        </script>
    </div>
</div>

<div class="smallseparator"></div>

</body>
</html>